/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-Apr-2017, 12:02:23 PM
    Author     : admin
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-Apr-2017, 12:44:29 PM
    Author     : admin
*/
nav {
  border: none !important;
  border-radius: 0 !important; }
  nav #menu-button {
    display: none; }
  nav .navbar-header {
    float: left !important; }
    nav .navbar-header .navbar-brand {
      font-size: 22px !important; }
    nav .navbar-header a {
      padding: 10px !important;
      color: #57A429 !important; }
    nav .navbar-header .icon-brand {
      text-align: center;
      filter: invert(100%);
      width: 30px;
      height: auto; }
    nav .navbar-header span {
      letter-spacing: 0.15em;
      font-family: 'Pacifico', cursive; }
  nav .navbar-right {
    margin-right: 15px !important; }
  nav .sidenav {
    z-index: 9999;
    display: none; }

@media only screen and (max-width: 767px) {
  nav .nav {
    display: none; }
  nav .navbar-header span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15px; }
  nav #menu-button {
    display: inline-block;
    cursor: pointer;
    margin-top: 5px; }
  nav .icon-bar1, nav .icon-bar2, nav .icon-bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s; }
  nav .change .icon-bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px); }
  nav .change .icon-bar2 {
    opacity: 0; }
  nav .change .icon-bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px); }
  nav .sidenav {
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 50px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    text-align: center; }
    nav .sidenav li {
      display: block; }
    nav .sidenav a {
      padding: 8px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s; }
    nav .sidenav:hover {
      color: #f1f1f1; }
    nav .sidenav hr {
      width: 70%;
      color: #818181; }
    nav .sidenav h3 {
      color: #fff;
      margin-bottom: 50px; } }
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-Apr-2017, 12:44:19 PM
    Author     : admin
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-Apr-2017, 1:28:28 PM
    Author     : admin
*/
form input, form textarea {
  width: 100%;
  color: #000; }
form .btn {
  display: block;
  width: 40%;
  margin: 20px auto; }
form .text-danger {
  margin-top: 5px; }
form label {
  position: relative;
  bottom: 7px; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-Apr-2017, 10:11:32 AM
    Author     : admin
*/
#item-form {
  padding: 0 15px; }

/* When clicked on, add a background color and strike out text */
.checked {
  background: #888 !important;
  color: #fff;
  text-decoration: line-through; }
  .checked #item-check:hover {
    background: #eee !important; }

/* Add a "checked" mark when clicked on */
.checked::before {
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0; }

.unchecked #item-check:hover {
  background: #888 !important; }

.exclamation {
  background: #d68d8d !important; }

.list {
  /* The Modal (background) */
  /* Modal Content (image) */
  /* Caption of Modal Image */
  /* Add Animation */
  /* The Close Button */ }
  .list .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 9;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */ }
  .list .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px; }
  .list .caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px; }
  .list .modal-content, .list .caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s; }
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0); }
  to {
    -webkit-transform: scale(1); } }
@keyframes zoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
  .list .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s; }
  .list .close:hover,
  .list .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer; }

.items {
  width: 100% !important;
  padding-right: 0 !important;
  padding-left: 0 !important; }
  .items .items-body {
    margin-top: -20px;
    /* Include the padding and border in an element's total width and height */
    /* Remove margins and padding from the list */
    /* Style the header */
    /* Style the input */
    /* Style the "Add" button */ }
    .items .items-body * {
      box-sizing: border-box; }
    .items .items-body ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .items .items-body ul #item {
        min-height: 50px;
        overflow: auto; }
        .items .items-body ul #item .image-modal-button {
          text-align: center;
          padding: 5px;
          width: 60px;
          height: 60px;
          float: left; }
          .items .items-body ul #item .image-modal-button img {
            vertical-align: top !important; }
          .items .items-body ul #item .image-modal-button:hover {
            background-color: #888; }
            .items .items-body ul #item .image-modal-button:hover img {
              opacity: .8; }
      .items .items-body ul .hidden-buttons {
        position: relative;
        right: 0;
        top: 0;
        padding: 0;
        z-index: 1; }
        .items .items-body ul .hidden-buttons #button-exclamation {
          text-align: center;
          position: absolute;
          right: 60px;
          top: 0;
          padding: 16px 0 0 0;
          width: 60px;
          height: 60px; }
          .items .items-body ul .hidden-buttons #button-exclamation i {
            color: #000;
            text-shadow: 0 1px 0 #fff;
            opacity: .2; }
          .items .items-body ul .hidden-buttons #button-exclamation:hover {
            background-color: #888;
            color: white; }
            .items .items-body ul .hidden-buttons #button-exclamation:hover i {
              opacity: .8;
              text-shadow: 0 0 0 #000; }
          .items .items-body ul .hidden-buttons #button-exclamation:focus, .items .items-body ul .hidden-buttons #button-exclamation:active, .items .items-body ul .hidden-buttons #button-exclamation:visited {
            outline: none;
            background-color: inherit; }
        .items .items-body ul .hidden-buttons #button-edit {
          text-align: center;
          position: absolute;
          right: 120px;
          top: 0;
          padding: 16px 0 0 0;
          width: 60px;
          height: 60px; }
          .items .items-body ul .hidden-buttons #button-edit i {
            color: #000;
            text-shadow: 0 1px 0 #fff;
            opacity: .2; }
          .items .items-body ul .hidden-buttons #button-edit:hover {
            background-color: #888;
            color: white; }
            .items .items-body ul .hidden-buttons #button-edit:hover i {
              opacity: .8;
              text-shadow: 0 0 0 #000; }
          .items .items-body ul .hidden-buttons #button-edit:focus, .items .items-body ul .hidden-buttons #button-edit:active, .items .items-body ul .hidden-buttons #button-edit:visited {
            outline: none;
            background-color: inherit; }
      .items .items-body ul #button-delete {
        text-align: center;
        width: 60px;
        height: 60px;
        position: absolute;
        right: 0;
        top: 0;
        padding: 16px 0 0 0; }
        .items .items-body ul #button-delete i {
          color: #000;
          text-shadow: 0 1px 0 #fff;
          opacity: .2; }
        .items .items-body ul #button-delete:hover {
          background-color: #f44336;
          color: white; }
          .items .items-body ul #button-delete:hover i {
            opacity: .8;
            text-shadow: 0 0 0 #000; }
        .items .items-body ul #button-delete:focus, .items .items-body ul #button-delete:active, .items .items-body ul #button-delete:visited {
          outline: none;
          background-color: inherit; }
      .items .items-body ul #item-check {
        text-align: center;
        margin-right: 15px;
        padding: 17px 0 0 0;
        width: 60px;
        height: 60px;
        position: relative;
        top: 0; }
        .items .items-body ul #item-check i {
          color: #000;
          text-shadow: 0 1px 0 #fff;
          opacity: .2; }
        .items .items-body ul #item-check:hover {
          color: white; }
          .items .items-body ul #item-check:hover i {
            opacity: .8;
            text-shadow: 0 0 0 #000; }
        .items .items-body ul #item-check:visited, .items .items-body ul #item-check:active, .items .items-body ul #item-check:focus {
          color: white; }
          .items .items-body ul #item-check:visited i, .items .items-body ul #item-check:active i, .items .items-body ul #item-check:focus i {
            opacity: .8;
            text-shadow: 0 0 0 #000; }
      .items .items-body ul #item-text {
        float: left;
        padding-top: 15px;
        width: 50%; }
      .items .items-body ul li {
        position: relative;
        background: #eee;
        font-size: 18px;
        transition: 0.2s;
        /* make the list items unselectable */
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }
        .items .items-body ul li:hover {
          background: #ddd; }
    .items .items-body .items-quantity {
      position: absolute;
      right: 240px;
      top: 15px; }
    .items .items-body .image-content {
      clear: both; }
    .items .items-body .image-button {
      float: right;
      position: relative;
      right: 180px;
      text-align: center;
      height: 60px;
      width: 60px;
      cursor: pointer; }
      .items .items-body .image-button span {
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: .2;
        top: 50%;
        transform: translateY(-50%);
        line-height: inherit; }
      .items .items-body .image-button:hover {
        background-color: #888;
        color: white; }
        .items .items-body .image-button:hover span {
          opacity: .8;
          text-shadow: 0 0 0 #000; }
      .items .items-body .image-button:focus, .items .items-body .image-button:active, .items .items-body .image-button:visited {
        outline: none;
        background-color: inherit; }
      .items .items-body .image-button img {
        vertical-align: baseline;
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
    .items .items-body .file-download-button, .items .items-body .add-file-button {
      text-align: center;
      height: 60px;
      width: 60px;
      padding: 5px;
      float: left; }
      .items .items-body .file-download-button img, .items .items-body .add-file-button img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        vertical-align: baseline; }
      .items .items-body .file-download-button span, .items .items-body .add-file-button span {
        font-size: 34px;
        vertical-align: -webkit-baseline-middle;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: .2;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        line-height: inherit; }
      .items .items-body .file-download-button:hover, .items .items-body .add-file-button:hover {
        background-color: #888;
        color: white; }
        .items .items-body .file-download-button:hover span, .items .items-body .add-file-button:hover span {
          opacity: .8;
          text-shadow: 0 0 0 #000; }
    .items .items-body .header {
      background-color: #060;
      padding: 10px 30px 30px 30px;
      color: white;
      text-align: center; }
      .items .items-body .header input:active, .items .items-body .header input:focus, .items .items-body .header input:visited {
        outline: 0 !important;
        box-shadow: none  !important; }
      .items .items-body .header h2 {
        margin-bottom: 20px; }
      .items .items-body .header p {
        position: relative;
        top: 15px; }
      .items .items-body .header:after {
        content: "";
        display: table;
        clear: both; }
    .items .items-body input {
      color: #000;
      border: none;
      width: 75%;
      padding: 10px 60px 10px 10px;
      float: left;
      font-size: 16px;
      border-radius: 0; }
    .items .items-body .addBtn {
      border: none;
      padding: 10px;
      width: 25%;
      background: #d9d9d9;
      color: #555;
      float: left;
      text-align: center;
      font-size: 16px;
      cursor: pointer;
      transition: 0.3s; }
      .items .items-body .addBtn:hover {
        background-color: #bbb; }
      .items .items-body .addBtn:focus, .items .items-body .addBtn:visited {
        outline: none; }

@media screen and (max-width: 767px) {
  .items .items-body {
    /* Style the input */
    /* Style the "Add" button */ }
    .items .items-body ul .hidden-buttons {
      position: relative;
      right: 0;
      top: 0;
      padding: 0;
      z-index: 0; }
      .items .items-body ul .hidden-buttons #button-exclamation {
        position: absolute;
        right: 60px;
        top: 0; }
        .items .items-body ul .hidden-buttons #button-exclamation:hover {
          background-color: inherit; }
          .items .items-body ul .hidden-buttons #button-exclamation:hover span {
            text-shadow: 0 1px 0 #fff;
            opacity: .2; }
        .items .items-body ul .hidden-buttons #button-exclamation:active, .items .items-body ul .hidden-buttons #button-exclamation:focus, .items .items-body ul .hidden-buttons #button-exclamation:visited {
          background-color: #888; }
      .items .items-body ul .hidden-buttons #button-edit {
        position: absolute;
        right: 120px;
        top: 0; }
        .items .items-body ul .hidden-buttons #button-edit:hover {
          background-color: inherit; }
          .items .items-body ul .hidden-buttons #button-edit:hover span {
            text-shadow: 0 1px 0 #fff;
            opacity: .2; }
        .items .items-body ul .hidden-buttons #button-edit:active, .items .items-body ul .hidden-buttons #button-edit:focus, .items .items-body ul .hidden-buttons #button-edit:visited {
          background-color: #888; }
      .items .items-body ul .hidden-buttons #button-delete {
        position: absolute;
        right: 0;
        top: 0; }
        .items .items-body ul .hidden-buttons #button-delete:hover {
          background-color: inherit; }
          .items .items-body ul .hidden-buttons #button-delete:hover span {
            text-shadow: 0 1px 0 #fff;
            opacity: .2; }
        .items .items-body ul .hidden-buttons #button-delete:active, .items .items-body ul .hidden-buttons #button-delete:focus, .items .items-body ul .hidden-buttons #button-delete:visited {
          background-color: #f44336; }
    .items .items-body .items-quantity {
      left: 80%; }
    .items .items-body #item-check {
      position: relative;
      top: -12px; }
      .items .items-body #item-check:hover {
        background-color: inherit; }
        .items .items-body #item-check:hover i {
          text-shadow: 0 1px 0 #fff;
          opacity: .2; }
      .items .items-body #item-check:active, .items .items-body #item-check:focus, .items .items-body #item-check:visited {
        background-color: #888;
        outline: none; }
    .items .items-body #item-text {
      width: 56%; }
    .items .items-body .image-button {
      right: 0; }
      .items .items-body .image-button:hover {
        background-color: inherit; }
        .items .items-body .image-button:hover span {
          text-shadow: 0 1px 0 #fff;
          opacity: .2; }
      .items .items-body .image-button:active, .items .items-body .image-button:focus, .items .items-body .image-button:visited {
        background-color: #888;
        outline: none; }
    .items .items-body .add-file-button:hover, .items .items-body .add-file-button:focus, .items .items-body .add-file-button:visited {
      background-color: inherit; }
      .items .items-body .add-file-button:hover span, .items .items-body .add-file-button:focus span, .items .items-body .add-file-button:visited span {
        text-shadow: 0 1px 0 #fff;
        opacity: .2; }
    .items .items-body .add-file-button:active {
      background-color: #888;
      outline: none; }
    .items .items-body .header {
      background-color: #060;
      padding: 10px 30px 30px 30px;
      color: white;
      text-align: center; }
      .items .items-body .header input:active, .items .items-body .header input:focus, .items .items-body .header input:visited {
        outline: 0 !important;
        box-shadow: none  !important; }
      .items .items-body .header h2 {
        margin-bottom: 20px; }
      .items .items-body .header p {
        position: relative;
        top: 15px; }
      .items .items-body .header:after {
        content: "";
        display: table;
        clear: both; }
    .items .items-body input {
      border: none;
      width: 75%;
      padding: 10px 50px 10px 10px;
      float: left;
      font-size: 16px; }
    .items .items-body .addBtn {
      border: none;
      padding: 10px;
      width: 25%;
      background: #d9d9d9;
      color: #555;
      float: left;
      text-align: center;
      font-size: 16px;
      cursor: pointer;
      transition: 0.3s; }
      .items .items-body .addBtn:hover {
        background-color: #bbb; }

  .modal-content {
    width: 100%; } }
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-Apr-2017, 9:30:49 PM
    Author     : admin
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-Apr-2017, 9:45:48 PM
    Author     : admin
*/
#info-button {
  color: #bbb;
  font-size: 20px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 46px;
  padding: 12px 19px 13px 19px;
  position: relative;
  bottom: 5px; }
  #info-button i {
    vertical-align: text-top; }
  #info-button:active, #info-button:focus, #info-button:visited {
    outline: 0 !important;
    box-shadow: none  !important; }
  #info-button:hover {
    background-color: grey;
    color: #fff; }

#close-button {
  background-color: transparent;
  border: none;
  font-size: xx-large;
  color: #fff;
  position: absolute;
  top: 0;
  right: 10px; }
  #close-button:active, #close-button:focus, #close-button:visited {
    outline: 0 !important;
    box-shadow: none  !important; }

#edit-button, #note-delete-button {
  width: 30%;
  display: inline-block;
  color: #fff;
  border: 1px solid #fff;
  padding: 8px 10px;
  background-color: transparent;
  font-size: 15px;
  transition: all 0.3s; }
  #edit-button:active, #edit-button:focus, #edit-button:visited, #note-delete-button:active, #note-delete-button:focus, #note-delete-button:visited {
    outline: 0 !important;
    box-shadow: none  !important;
    text-decoration: none; }
  #edit-button:hover, #note-delete-button:hover {
    box-shadow: 0 0 15px #fff;
    text-decoration: none;
    transition: all 0.3s; }

#place-on-map-button {
  color: #bbb;
  font-size: 20px;
  width: 45px;
  height: 46px;
  margin-right: 20px;
  padding: 10px 19px 13px 17px;
  position: relative;
  bottom: 5px;
  border: none;
  border-radius: 50%; }
  #place-on-map-button:hover {
    background-color: grey;
    color: #fff; }

#edit-button {
  margin-right: 20px; }

#note-button {
  position: relative;
  bottom: 15px;
  word-wrap: break-word;
  width: 80%; }

.notes hr {
  clear: left; }
.notes span {
  color: #bbb;
  font-size: 15px; }
.notes #overlay {
  position: fixed;
  display: block;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  cursor: pointer;
  overflow-x: hidden;
  transition: 0.5s; }
.notes #overlay-text {
  text-align: center;
  width: 100%;
  height: 90%;
  position: absolute;
  top: 10%;
  color: white; }
  .notes #overlay-text p {
    font-size: 20px; }
  .notes #overlay-text i {
    font-size: 15px; }
  .notes #overlay-text hr {
    width: 75%; }
  .notes #overlay-text form {
    margin-top: 25px; }
  .notes #overlay-text .note-update-form {
    display: none; }
    .notes #overlay-text .note-update-form input {
      width: 75%;
      margin-top: 15px; }
      .notes #overlay-text .note-update-form input:focus {
        outline: #5cb85c solid 2px; }

@media screen and (max-width: 767px) {
  #note-button {
    width: 50%; } }
.viewmap #map, .addmap #map {
  height: 400px;
  width: 100%; }

@media screen and (max-width: 767px) {
  .viewmap, .addmap {
    margin-top: -20px; }
    .viewmap .map-header, .addmap .map-header {
      width: 80%;
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2; }
    .viewmap h4, .addmap h4 {
      top: 70px; }
    .viewmap h5, .addmap h5 {
      top: 50px; }
    .viewmap #location, .addmap #location {
      top: 100px; }
    .viewmap #map, .addmap #map {
      height: calc(100vh - 50px);
      width: 100%; }
    .viewmap #map-note .map-menu-button, .addmap #map-note .map-menu-button {
      background-color: #57A429;
      border-radius: 50%;
      border: none;
      width: 70px;
      height: 70px;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.26);
      position: fixed;
      bottom: 30px;
      left: 15px; }
      .viewmap #map-note .map-menu-button:hover, .viewmap #map-note .map-menu-button:focus, .viewmap #map-note .map-menu-button:active, .viewmap #map-note .map-menu-button:visited, .addmap #map-note .map-menu-button:hover, .addmap #map-note .map-menu-button:focus, .addmap #map-note .map-menu-button:active, .addmap #map-note .map-menu-button:visited {
        outline: none; }
      .viewmap #map-note .map-menu-button span, .addmap #map-note .map-menu-button span {
        font-size: 35px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #FFF; }
    .viewmap #map-note .map-form, .addmap #map-note .map-form {
      position: fixed;
      bottom: 101px;
      height: 140px;
      width: 100%;
      display: none; }
      .viewmap #map-note .map-form form, .addmap #map-note .map-form form {
        height: 250px;
        position: absolute; }
        .viewmap #map-note .map-form form #save-marker, .viewmap #map-note .map-form form #delete-marker, .addmap #map-note .map-form form #save-marker, .addmap #map-note .map-form form #delete-marker {
          border-radius: 50%;
          border: none;
          width: 50px;
          height: 50px;
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.26);
          position: relative;
          left: 25px;
          display: block; }
        .viewmap #map-note .map-form form #save-marker, .addmap #map-note .map-form form #save-marker {
          background-color: lightseagreen;
          bottom: -15px; }
          .viewmap #map-note .map-form form #save-marker:focus, .addmap #map-note .map-form form #save-marker:focus {
            outline: none; }
          .viewmap #map-note .map-form form #save-marker .save-marker-text, .addmap #map-note .map-form form #save-marker .save-marker-text {
            font-size: 18px;
            position: absolute;
            top: 10px;
            left: 55px; }
        .viewmap #map-note .map-form form #delete-marker, .addmap #map-note .map-form form #delete-marker {
          background-color: tomato;
          bottom: -30px; }
          .viewmap #map-note .map-form form #delete-marker:focus, .addmap #map-note .map-form form #delete-marker:focus {
            outline: none; }
          .viewmap #map-note .map-form form #delete-marker .delete-marker-text, .addmap #map-note .map-form form #delete-marker .delete-marker-text {
            font-size: 18px;
            position: absolute;
            top: 10px;
            left: 55px; }

  .viewmap .note-info {
    position: fixed;
    bottom: 70px;
    left: 10px; } }
@media screen and (max-width: 767px) {
  .xdsoft_datetimepicker {
    width: 80% !important;
    margin: auto !important;
    position: absolute;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    height: 70% !important; }
    .xdsoft_datetimepicker .xdsoft_datepicker {
      float: none !important;
      width: auto !important;
      margin-bottom: 20px; }
    .xdsoft_datetimepicker .xdsoft_timepicker {
      float: none !important;
      width: auto !important; }
      .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box {
        height: 100px; }
    .xdsoft_datetimepicker .xdsoft_prev, .xdsoft_datetimepicker .xdsoft_next {
      margin: auto !important; } }
body {
  font-family: 'Roboto', sans-serif; }

.breadcrumb {
  border-radius: 0; }

#logo-name {
  font-family: 'Pacifico', cursive; }

.button-background {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 -15px 10px rgba(255, 255, 255, 0.8); }
  .button-background #create-note-button {
    background-color: #57A429;
    border-radius: 999em;
    width: 70px;
    height: 70px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    line-height: 1;
    font-size: 36px;
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    display: inline-block;
    transition: all 0.5s; }
    .button-background #create-note-button:hover {
      background-color: #060;
      transition: all 0.5s; }
    .button-background #create-note-button span {
      font-size: 35px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: #FFF;
      transition: all 0.5s; }
  .button-background #view-all-notes-map-button {
    background-color: #337ab7;
    border-radius: 999em;
    width: 70px;
    height: 70px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    line-height: 1;
    font-size: 36px;
    position: fixed;
    bottom: 15px;
    left: 20%;
    transform: translateX(-50%);
    cursor: pointer;
    display: inline-block;
    transition: all 0.5s; }
    .button-background #view-all-notes-map-button:hover {
      background-color: #0b4577;
      transition: all 0.5s; }
    .button-background #view-all-notes-map-button span {
      font-size: 25px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: #FFF;
      transition: all 0.5s; }

/*# sourceMappingURL=main.css.map */
