/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-Apr-2017, 12:02:23 PM
    Author     : admin
*/

@import 'partials/nav';
@import 'partials/footer';
@import 'partials/form';
@import 'base/items';
@import 'base/home';
@import 'base/notes';
@import 'base/map';
@import 'base/item';

body {
	font-family: 'Roboto', sans-serif;
}

.breadcrumb {
	border-radius: 0;
}

#logo-name {
	font-family: 'Pacifico', cursive;
}

// Round Add button
.button-background {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 75px;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0 -15px 10px rgba(255, 255, 255, 0.8);
	#create-note-button {
		background-color: #57A429;
		border-radius: 999em;
		width: 70px;
		height: 70px;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
		line-height: 1;
		font-size: 36px;
		position: fixed;
		bottom: 15px;
		left: 50%;
		transform: translateX(-50%);
		cursor: pointer;
		display: inline-block;
		transition: all 0.5s;
		&:hover {
			background-color: #060;
			transition: all 0.5s;
		}
		span {
			font-size: 35px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			color: #FFF;
			transition: all 0.5s;
		}
	}
	#view-all-notes-map-button {
		background-color: #337ab7;
		border-radius: 999em;
		width: 70px;
		height: 70px;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
		line-height: 1;
		font-size: 36px;
		position: fixed;
		bottom: 15px;
		left: 20%;
		transform: translateX(-50%);
		cursor: pointer;
		display: inline-block;
		transition: all 0.5s;
		&:hover {
			background-color: #0b4577;
			transition: all 0.5s;
		}
		span {
			font-size: 25px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			color: #FFF;
			transition: all 0.5s;
		}
	}
}
