// ItemController actions styles

@media screen and (max-width: 767px) {
	.xdsoft_datetimepicker {
		width: 80% !important;
		margin: auto !important;
		position: absolute;
		left: 0 !important;
		right: 0 !important;
		top: 0 !important;
		bottom: 0 !important;
		height: 70% !important;

		.xdsoft_datepicker {
			float: none !important;
			width: auto !important;
			margin-bottom: 20px;
		}
		.xdsoft_timepicker {
			float: none !important;
			width: auto !important;
			.xdsoft_time_box {
				height: 100px;
			}
		}
		.xdsoft_prev, .xdsoft_next {
			margin: auto !important;
		}
	}
}