#map {
	height: 400px;
	width: 100%;
}
#map-note {
	padding: 15px 0 15px 20px;
	
	form {
		margin-top: 20px;
	}
}

@media screen and (max-width: 767px) {
	
	#map {
		height: calc(100vh - 106px);
		width: 100%;
	}
	
	#save-marker, #delete-marker {

	}
	
	#save-marker {
		margin-right: 20px;
	}
}



