/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-Apr-2017, 9:45:48 PM
    Author     : admin
*/

#info-button {
	color: #bbb;
	font-size: 20px;
	background-color: #fff;
	border: none;
	border-radius: 50%;
	width: 45px;
	height: 46px;
	padding: 12px 19px 13px 19px;
	position: relative;
	bottom: 5px;
	
	i {
		vertical-align: text-top;
	}
	
	&:active, &:focus, &:visited {
		outline: 0 !important;
		box-shadow: none  !important;
	}
	
	&:hover {
		background-color: grey;
		color: #fff;
	}
}
#close-button {
	background-color: rgba(0,0,0,0);
	border: none;
	font-size: xx-large;
	color: #fff;
	position: absolute;
	top: 0;
	right: 10px;
	
	&:active, &:focus, &:visited {
		outline: 0 !important;
		box-shadow: none  !important;
	}
}
#edit-button, #note-delete-button {
	width: 30%;
	display: inline-block;
	color: #fff;
	border: 1px solid #fff;
	padding: 8px 10px;
	background-color: rgba(0,0,0,0);
	font-size: 15px;
	
	&:active, &:focus, &:visited {
		outline: 0 !important;
		box-shadow: none  !important;
		text-decoration: none;
	}
}
#place-on-map-button {
	color: #bbb;
	font-size: 20px;
	width: 45px;
	height: 46px;
	margin-right: 20px;
	padding: 10px 19px 13px 17px;
	position: relative;
	bottom: 5px;
	border: none;
	border-radius: 50%;
	
	&:hover {
		background-color: grey;
		color: #fff;
	}
}

#edit-button {
	margin-right: 20px;
}

#note-button {
	position: relative;
	bottom: 15px;
	word-wrap: break-word;
	width: 80%;
}

.notes {
	
	hr {
		clear: left;
	}
	
	span {
		color: #bbb;
		font-size: 15px;
	}
	
	#overlay {
		position: fixed;
		display: block;
		width: 0;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.8);
		z-index: 2;
		cursor: pointer;
		overflow-x: hidden;
		transition: 0.5s;
	}

	#overlay-text{
		text-align: center;
		width: 100%;
		height: 90%;
		position: absolute;
		top: 10%;
		color: white;
		p {
			font-size: 20px;
		}
		i {
			font-size: 15px;
		}
		hr {
			width: 75%;
		}
		form {
			margin-top: 25px;
		}
		.note-update-form {
			display: none;
			input {
				width: 75%;
				margin-top: 15px;
			}
		}
	}
	
}

@media screen and (max-width: 767px) {
	#note-button {
		width: 50%;
	}
}